/* src/components/Home.css */

#home {
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Add overlay for fading effect */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity (last value) */
}

/* Home.css */

p {
    color: white; /* Change text color to white */
    text-align: center; /* Center align the text */
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-bottom: 20px; /* Add some bottom margin */
}


.adopt-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6eff61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.adopt-button:hover {
    background-color: #4aa545;
}

